@use '../../global' as g;

/*!
page > top > common
------------------------------
*/

.c_ttl {
    text-align: center;
    font-size: g.rem(20);
    font-weight: bold;
    @include g.mq('md') {
        font-size: g.rem(60);
    }
    &__small {
        margin-bottom: 20px;
    }
}
.c_ttl01 {
    text-align: center;
    font-size: g.rem(20);
    font-weight: bold;
    @include g.mq('md') {
        font-size: g.rem(60);
    }
}
.c_desc {
    text-align: center;
}
.c_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.c_list {
    width: 49%;
}
.c_item {
    margin-bottom: 20px;
    &__wrap {
        cursor: pointer;
    }
}
.c_cb__input {
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.c_btn {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #000;
        background: #000;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        @include g.mq('md') {
            &:hover {
                color: #000;
                background: #fff;
            }
        }
    }
}
.intro {
    &__ttl {
        text-align: center;
    }
    &__desc {
        margin-bottom: 100px;
    }
}
.result_chart {
    width: 400px;
    height: 400px;
}
/*******************************/
