@use '../../global' as g;

/*!
page > top > common
------------------------------
*/
.c_section {
    height: 100vh;
    padding: 100px 0;
    display: none;
    background: #8fdbff;
}
.c_ttl {
    text-align: center;
    font-size: g.rem(20);
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 60px;
    @include g.mq('md') {
        font-size: g.rem(60);
    }
    &__small {
        margin-bottom: 20px;
    }
}
.c_ttl01 {
    text-align: center;
    font-size: g.rem(20);
    font-weight: bold;
    @include g.mq('md') {
        font-size: g.rem(60);
    }
}
.c_desc {
    text-align: center;
}
.c_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.c_list {
    width: 49%;
}
.c_item {
    margin-bottom: 20px;
    &__wrap {
        position: relative;
        cursor: pointer;
    }
    .c_cb__txt {
        position: relative;
        padding-left: 30px;
        display: inline-block;
        &::before {
            position: absolute;
            content: '';
            top: 7px;
            left: 0;
            width: 12px;
            height: 12px;
            background: #fff;
            border: solid 1px #000;
        }
        &::after {
            display: inline-block;
            transform: rotate(45deg);
            content: '';
            position: absolute;
            top: 9px;
            left: 5px;
            height: 6px;
            width: 3px;
            border-bottom: solid 1px #000;
            border-right: solid 1px #000;
            opacity: 0;
        }
    }
    input {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
    input:checked ~ .c_cb__txt::after {
        opacity: 1;
    }
}

.c_cb__input {
    position: relative;
    top: -2px;
    margin-right: 10px;
}
.c_btn {
    text-align: center;
    width: 250px;
    margin: 0 auto;
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #000;
        background: #000;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        @include g.mq('md') {
            &:hover {
                color: #000;
                background: #fff;
            }
        }
    }
}
.intro {
    &__ttl {
        text-align: center;
    }
    &__desc {
        margin-bottom: 100px;
    }
}
.result {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__chart {
        width: 90%;
        height: 400px;
        margin: 0 auto 30px;
        @include g.mq('md') {
            width: 400px;
            height: 400px;
            margin: 0;
        }
        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }
    &__info {
        width: 100%;
        @include g.mq('md') {
            width: calc(100% - 400px);
            padding: 0 50px;
        }
    }
}

/*******************************/
