@use "../global" as g;

.js_more_fixed {
    position: fixed;
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms ease, opacity 300ms linear;
  }
.js_more_fixed{
  @include g.mq('md') {
    &.is_hover {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
    }
  }
}
.js_more_hover {
cursor: pointer;
}
  
.js_img_zoom{
    position: relative;
    overflow: hidden;
}
// .js_img_zoom img{
//     transition: linear 0.7s;
// }
.js_img_zoom.is_zoom img{
    transform: scale(1.2);
}
.js_txt_loop_ani{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: js_txt_loop_ani 20s 0s linear infinite normal;
    animation: js_txt_loop_ani 20s 0s linear infinite normal;
    display: inline-block;
}


@keyframes js_txt_loop_ani {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.js_ani_txt {
    &.animated{
        .txt_ani_fast{
            -webkit-animation: slideText 1.5s ease-in-out 0s both;
                    animation: slideText 1.5s ease-in-out 0s both;
        }
        .txt_ani_line{
            -webkit-animation: slideText1 1.5s ease-in-out 0s both;
                    animation: slideText1 1.5s ease-in-out 0s both;
        }
    }
    .txt_ani_wrap{
        display: block;
        overflow: hidden;
        position: relative;
        will-change: opacity;
    }
    .txt_ani{
        position: relative;
        top: 0;
        will-change: transform;
        -webkit-transform-origin: top;
                transform-origin: top;
        display: block;
    }
}

@keyframes slideText {
    0% {transform:translateY(2em);transform:translateY(2em)}
    100% {transform:translateY(0);transform:translateY(0)}
}
@keyframes slideText1 {
    0% {transform:translateY(3em);transform:translateY(3em)}
    100% {transform:translateY(0);transform:translateY(0)}
}
#canvas{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 5;
    opacity: 0;
    //-webkit-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    pointer-events: none;
    background: transparent;
    visibility: hidden;
}
.planes-loaded #canvas{
    opacity: 1;
    visibility:visible;
}
.js_curtains_bg{
    position: relative;
    display: block;
 
    img{
        outline: 0;
        border: 0;
        display: none !important;
        min-width: 100%;
        min-height: 100%;
       @include g.mq('md'){
        opacity: 1;
        position: relative;
        top: 0;
        left: 0;
       }
    }
}

.plane-inner{

}
.plane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.plane img{
    display: none;
}