@use "../global" as g;

.c_ttl{
    position: relative;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    margin-bottom: 50px;
    @include g.mq('md') {
        margin-bottom: 40px;
    }
    .c_slash{
        position: relative;
        height: 40px;
        width: 25px;
        color: #fff;
        font-size: g.rem(30);
        flex-shrink: 0;
        margin:0 10px;
        @include g.mq('md') {
            height: g.clamped(50,103,768,1536);
            margin: 0;
            width: g.clamped(45,70,768,1536);
        }
        .txt_ani_wrap{
            position: relative;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            @include g.mq('md') {
                left: -9px;
                top: g.clamped(0,15,768,1536);
            }
        }
        .txt_ani {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .line {
                position: absolute;
                top: 0;
                left: 50%;
                display: inline-block;
                width: 1px;
                height: 100%;
                transform: translateX(-50%) rotate(40deg);
                background: #707070;
            }
        }

    }
    &_jp{
        font-family: 'Shippori Mincho', serif;
        font-size: g.rem(16);
        letter-spacing: 0;
        color: #707070;
        line-height: 1.5em;
        display: inline-block;
        flex-shrink: 0;
        top: -5px;
        @include g.mq('md') {
            top: 0;
            font-size: g.clamped(16,20,768,1536);
        }
    }
    &_en{
        font-family: 'Marcellus', serif;
        font-size: g.rem(40);
        letter-spacing: 0.05em;
        color: #32634B;
        display: block;
        line-height: 1.245em;
        @include g.mq('md') {
            font-size: g.clamped(80,120,768,1536);
        }
        .txt_break{
            position: relative;
            padding-left: 15px;
            display: block;
            @include g.mq('md') {
                padding-left: g.clamped(20,59,768,1536);
            }
        }
    }
}
.c_desc{
    color: #707070;
    letter-spacing: 0;
    font-weight: 300;
    font-size: g.rem(15);
    @include g.mq('md') {
        font-size: g.clamped(15,18,768,1536);
    }
}
.c_btn {
    position: relative;
    z-index: 2;
    text-align: center;
    @include g.mq('md') {
        text-align: left;
    }
    &_link{
        position: relative;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        @include g.mq('md'){
            &:hover{
                .c_btn_circle{
                    transform:scale(0.9);
                }
                .arrow{
                    transform: translateX(5px);
                }
                .base_ani i {
                    transform: translateY(0);
                    opacity: 1;
                }
                .base i{
                    opacity: 0;
                    transform: translateY(-100%);
                }
            }
        }
    }
    .txt_read{
        font-family: 'Marcellus', serif;
        font-size: g.rem(16);
        color: #CE9C10;
        line-height: 1.2em;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 20px;
        @include g.mq('md') {
            margin-right: 31px;
            font-size: g.clamped(16,20,768,1536);
        }
    }
    &_circle{
        border-radius: 100%;
        border: solid 1px #CE9C10;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
        @include g.mq('md') {
            width: g.clamped(50,107,768,1536);
            height: g.clamped(50,107,768,1536);
        }
        .arrow{
            width: 12px;
            height: 7px;
            display: inline-flex;
            transition: all 0.5s;
            @include g.mq('md') {
                width: 16px;
                height: 11px;
            }
        }
    }
    .wrap_txt{
        display: inline-block;
        position: relative;
    }
    i {
        display: inline-block;
        font-style: normal;
        transition: all 300ms ease;
    }
    .base {
        display: block;
    }
    .base_ani {
        position: absolute;
        top: 0;
        left: 0;
    }
    .base_ani i {
        opacity: 0;
        transform: translateY(100%);
    }
    &.no_circle{
        .c_btn_circle{
            position: relative;
            width: auto;
            height: auto;
            border: 0;
            @include g.mq('md') {
                top: g.clamped(-1,0,768,1536);
            }
        }
        .txt_read{
            margin-right: 10px;
        }
    }
}
.c_cursor_more {
    width: 160px;
    height: 160px;
    font-family: 'Marcellus', serif;
    line-height: 1.2;
    color: #fff;
    background-color: #CE9C10;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-transform: uppercase;
    pointer-events: none;
  }
  
