@use '../global' as g;

/*!
layout > container
------------------------------
*/

.container {
    padding: 0 3%;
    @include g.mq('md') {
        max-width: g.$width-content;
        padding: 0 15px;
        margin: 0 auto;
    }
    @include g.mq('xl') {
        padding: 0 20px;
    }
}

.show {
    display: block !important;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
}
