/*!
global > color
------------------------------
*/
$color-w : #fff;
$color-b : #000;
$color-font-base: #313131;
$color01: #2aa3e4;
$color02: #087bae;
$color-required : #4ce3d2;
$color-title: #313131;
$color-button:#fece00;
$color-button-hover: #2aa3e4; 
