/*!
global > color
------------------------------
*/
$color-base: #313131;
$color-secondary-1: #626262;
$color-secondary-2: #eeeeee;
$color-secondary-3: #a0a0a0;
$color-tertiary-1: #fece00;
$color-tertiary-2: #ffcd05;
$color-tertiary-3: #ff8c05;
$color-tertiary-4: #ffad05;
$color-tertiary-5: #ffd426;
$color-quaternary-1: #087bae;
$color-quaternary-2: #2aa3e4;
$color-quaternary-3: #2eaedd;
$color-quaternary-4: #2ec5d1;
$color-five-1: #4ce3d2;
$color-five-2: #2edcc5;

$color-white: #FFF;
$color-black: #000;